<div class="sidebar-nav">
  <h3>MMLoSo Workshop @ IJCNLP-AACL 2025</h3>
  <p>First International Workshop on<br>Multimodal Models for Low-Resource Contexts and Social Impact</p>
  <a href="https://openreview.net/group?id=aclweb.org/AACL-IJCNLP/2025/Workshop/MMLoSo"
     target="_blank" class="openreview-btn">
    🔗 View on OpenReview
  </a>
  <hr>
  <a href="#about">About</a>
  <a href="#cfp">Call for Papers</a>
  <a href="#guidelines">Submission Guidelines</a>
  <a href="#task">Shared Task & Competition</a>
  <a href="#keynotes">Keynote Speakers</a>
  <a href="#dates">Important Dates</a>
  <a href="#organizers">Organizers</a>
  <a href="#pc">Program Committee</a>
  <a href="#volunteers">Student Volunteers</a>
  <a href="#contact">Contact</a>
</div>

